# Dependencies
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Build output
dist/
out-tsc/
.angular/
.wireit/
*.tsbuildinfo

# Python
.venv/
__pycache__/
*.py[cod]

# Misc
.DS_Store

# Generated sandbox files
client/angular/projects/mcp_calculator/public/mcp_apps_inner_iframe/

